<h1 class="form-center">Test score</h1>
<h2 class="form-center">Your answer: <%= @answer %></h2>
<%# <h2><%= @letters %>
<%# <h2><%= @start_time %>
<h2 class="form-center"><%= @result[:message] %></h2>
<h2 class="form-center">Your score is <%= @result[:score] %></h2>
<h2 class="form-center">Time: <%= @result[:time] %>s</h2>
